.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(80vh - var(--ifm-navbar-height));
  padding: 0;
}

.wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  transform: translateY(-20px);
}

.title {
  margin: 0;
}

.discord {
  margin: 0;
}